<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Champions</title>
</head>
<body>
<p th:text="${champions.getName()}">VALUE</p>
<p th:text="${champions.getChempOrigin()}">VALUE</p>
<p th:text="${champions.getChempClass()}">VALUE</p>
<p th:text="${champions.getCost()}">VALUE</p>
<p th:text="${champions.getId()}">VALUE</p>

<a th:href="@{/champions/{id}/edit(id=${champions.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/champions/{id}(id=${champions.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>